@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Barlow Semi Condensed', sans-serif;
	margin:0;
	padding:0;
}

#wrapper{
	width:100%;
	height:auto;
	overflow:hidden;
	margin:0;
}


/*   Header   */


.header{
	width:85%;
	height:90px;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
}

.logo{
	width:auto;
	height:80px;
	float:left;
	padding:5px;
	transition:0.6s;
}

nav{
	width:auto;
	height:40px;
	float:right;
	margin-top:25px;
}

nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

nav ul li{
	float:left;
}

nav ul li a{
	font-size:14pt;
	font-weight:100;
	width:100px;
	height:40px;
	text-align:center;
	line-height:40px;
	display:block;
	text-decoration:none;
	color:black;
	cursor:pointer;
	transition:0.6s;
}

nav ul li a:hover{
	opacity:0.5;
}

.xbox{
	width:100px;
	border-right:1px solid rgba(37,38,39,0.15);
}

.playstation{
	width:150px;
	border-right:1px solid rgba(37,38,39,0.15);
}

.nintendo{
	width:130px;
	border-right:1px solid rgba(37,38,39,0.15);
}

.pc{
	width:75px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


/*    index    */


.banner{
	width:85%;
	height:55vh;
	margin-top:5%;
	margin-left:auto;
	margin-right:auto;
	border-bottom:2px solid rgba(160,120,120,0.5);
}

.game_image{
	width:14%;
	height:70%;
	float:left;
	margin-right:2%;
	margin-top:6%;
}

.image{
	width:100%;
	height:90%;
	float:left;
	border-radius:30px;
	cursor:pointer;
	transition:0.5s;
}

.image:hover{
	transform:scale(1.07, 1.07);
}

.the_last{
	background:url(../img/the_last.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-position:center;
}

.mass_effect{
	background:url(../img/mass_effect.jpeg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-position:center;
}

.the_legend{
	background:url(../img/the_legend.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-position:center;
}

.halo{
	background:url(../img/halo_infinite.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-position:center;
}

.witcher{
	background:url(../img/witcher.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-position:center;
}

.dark_souls{
	background:url(../img/dark_souls.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	background-position:center;
}

.table_name{
	width:100%;
	height:10%;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	float:left;
}

/*    Consoles    */


.console_title{
	text-align:center;
	font-size:46px;
	margin-top:7%;
}

#xbox_color{
	color:green;
}

#playstation_color{
	color:blue;
}

#nintendo_color{
	color:red;
}

.console_banner{
	width:85%;
	height:55vh;
	margin-left:auto;
	margin-right:auto;
}


.game_individual_image{
	width:14%;
	height:70%;
	margin-right:auto;
	margin-left:auto;
	margin-top:5%;
}


/*    Section Appear   */


.individual_games_container{
	width: 21vw;
	height:300px;
	float:left;
	margin:1.5%;
	border-radius:15px;
	border: 1px solid black;
}

.top_section{
	width:100%;
	height:80%;
	float:left;
}

.bottom_section{
	width:100%;
	height:20%;
	float:left;
}

.title{
	font-size:14pt;
	font-weight:700;
	width:100%;
    	padding-left:30px;
    	padding-top:30px;
    	margin:0;
    	padding-bottom:10px;
}

.content{
	height:60%;
	padding-left:30px;
	padding-right:30px;
}

.descriptors{
	width:92%;
	float:left;
	padding-left:8%;
	padding-top:3%;
	border-top:1px solid lightgrey;
}

.upload{
	width:20%;
	height:100%;
	background:grey;
	border-radius:40px;
	cursor:pointer;
	text-align:center;
  	text-decoration:none;
	border:none;
  	color:white;
}

.upload_form{
	width:50%;
	height:80%;
	cursor:pointer;
	text-align:center;
	text-decoration:none;
	border:none;
	color:white;
	padding-top:10%;
	margin-left:auto;
	margin-right:auto;
}

.placeholder{
	font-size:14px;
	float:left;
	color:black;
	margin:0 0 5px 5px;
}

.input_upload{
	width:100%;
	padding:12px;
	background:rgba(236,236,236,1.00);
	border:none;
	box-sizing:border-box;
	margin-top:6px;
	margin-bottom:16px;
	resize:none;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.6);
}

.input_text{
	width:100%;
	height:30%;
	padding:12px;
	background:rgba(236,236,236,1.00);
	border:none;
	box-sizing:border-box;
	margin-top:6px;
	margin-bottom:16px;
	resize:none;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.6);
}

.input_submit{
	width:25%;
	padding:12px;
	background:rgba(236,236,236,1.00);
	border:none;
	float:left;
	box-sizing:border-box;	
	margin-top:6px;
	margin-bottom:16px;
	resize:none;
	box-shadow:0px 8px 16px 0px rgba(0,0,0,0.6);
	transition:0.6s;
	cursor:pointer;
}

.input_submit:hover{
	background:rgba(100,100,100,1.00);
	color:white;
}

.search_upload{
	width:33%;
	height:10%;
	margin-left:auto;
	margin-right:auto;
	margin-top:3%;
}

.search_box{
	width:330px;
	height:40px;
	float:left;
}

.search{
	border:1px solid grey;
	outline:none;
	background:none;
	color:grey;
	border-radius:60px;
	font-size:16px;
	height:100%;
	line-height:100%;
	width:240px;
	padding-left:7%;
}

.btn{
	background:none;
	color:#F39C12;
	text-decoration:none;
	width:40px;
	height:100%;
	cursor:pointer;
	border:none;
}


/*    Section Invisible    */


.page_overlay{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100vh;
	background:rgba(0,0,0,0.40);
	display:none;
}

.overlay{
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	width:70%;
	height:80%;
	float:left;
	background:lightgrey;
	border-radius:15px;
	display:none;
}

.cross{
	width:1.5vw;
	height:auto;
	float:right;
	cursor:pointer;
	transition:0.3s;
	margin-right:2%;
	margin-top:2%;
}

.cross:hover{
	opacity:0.5;
}

.title_appear{
	
}

.descriptors_appear{
	
}

.content_appear{
	
}

.rating_system_appear{
	
}

















