<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Gaming Zone"/>
<meta name="keywords" content="Gaming, Zone, Reviews, Gaming Reviews, Xbox, Playstation, Nintendo, Switch, PC"/>
<meta name="author" content="Connor Duthie"/>
<link rel="icon" type="image/svg" href="img/thumbnail.svg"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
<title>Gaming Zone</title>
</head>

<body>

<div id="wrapper">

	<div class="header">

		<a href="/"><img src="../static/img/gaming_zone_logo.svg" alt="logo" class="logo"/></a>

	<nav>

		<ul>

			<li><a href="/xbox" class="xbox">xbox</a></li>
			<li><a href="/playstation" class="playstation">playstation</a></li>
			<li><a href="/nintendo" class="nintendo">nintendo</a></li>
			<li><a href="/pc" class="pc">pc</a></li>

		</ul>

	</nav>

	</div>
	
<div class="page_overlay"></div>

<div class="overlay">
	
<img src="../static/img/cross.svg" alt="Cross" class="cross">
	
<form class="upload_form" action="" method="POST">
	
	<p class="placeholder">Title:</p>
	<input class="input_upload" type="text" name="titl"/><br>
	<p class="placeholder">Content:</p>
	<textarea class="input_text" name="cont"></textarea><br>
	<p class="placeholder">Descriptors:</p>
	<input class="input_upload" type="text" name="desc"/><br>

	<input class="input_submit" type="submit" value="submit" /><br>

</form>

</div>

<div class="console_banner">

{% for the_last in the_last %}

<div class="game_individual_image">
	<div class="image the_last"></div>
		<tr>
			<td><p class="table_name">{{the_last["game_title"]}}</p></td>
		</tr>
</div>

{% endfor %}

<div class="search_upload">

<form action="" method="GET">
	<div class="search_box">
 		<input type="text" class="search" placeholder="Search.." name="serch">
		<button type="submit" class="btn" name="submit">
		<i class="fas fa-search"></i>
		</button>
	</div>
</form>

<button class="upload">Upload</button>

</div>

</div>
	
{% for post in the_last_posts %}

<div class="individual_games_container">

<tr>

<div class="top_section">
	
	<div class="title"><td>{{post["title"]}}</td></div>
	<div class="content"><td>{{post["content"]}}</td></div>

</div>
<div class="bottom_section">

	<div class="descriptors"><td>{{post["descriptors"]}}</td></div>

</div>

</tr>

</div>

{% endfor %}

</div>
	
<script type="text/javascript" src="../static/js/jquery-3.4.1.js"></script>
<script type="text/javascript" src="../static/js/script.js"></script>
	
</body>

</html>
