<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="Gaming Zone"/>
<meta name="keywords" content="Gaming, Zone, Reviews, Gaming Reviews, Xbox, Playstation, Nintendo, Switch, PC"/>
<meta name="author" content="Connor Duthie"/>
<link rel="icon" type="image/svg" href="img/thumbnail.svg"/>
<link href="../static/css/style.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="js/script.js"></script>
<title>Gaming Zone</title>
</head>

<body>

<div id="wrapper">

	<div class="header">

		<a href="/"><img src="../static/img/gaming_zone_logo.svg" alt="logo" class="logo"/></a>

	<nav>

		<ul>

			<li><a href="/xbox" class="xbox">xbox</a></li>
			<li><a href="/playstation" class="playstation">playstation</a></li>
			<li><a href="/nintendo" class="nintendo">nintendo</a></li>
			<li><a href="/pc" class="pc">pc</a></li>

		</ul>

	</nav>

	</div>

<p class="console_title" id="xbox_color">Xbox</p>

<div class="console_banner">


{% for mass_effect in mass_effect %}

<div class="game_image">
<a href="/games/mass_effect"><div class="image mass_effect"></div></a>
<tr class="table_name">
<td><p class="table_name">{{mass_effect["game_title"]}}</p></td>
</tr>
</div>

{% endfor %}

{% for halo in halo %}

<div class="game_image">
<a href="/games/halo_infinite"><div class="image halo"></div></a>
<tr class="table_name">
<td><p class="table_name">{{halo["game_title"]}}</p></td>
</tr>
</div>

{% endfor %}

{% for witcher in witcher %}

<div class="game_image">
<a href="/games/witcher_3"><div class="image witcher"></div></a>
<tr class="table_name">
<td><p class="table_name">{{witcher["game_title"]}}</p></td>
</tr>
</div>

{% endfor %}

{% for dark_souls in dark_souls %}

<div class="game_image">
<a href="/games/dark_souls"><div class="image dark_souls"></div></a>
<tr class="table_name">
<td><p class="table_name">{{dark_souls["game_title"]}}</p></td>
</tr>
</div>

{% endfor %}

</div>

</div>

</body>

</html>
